<div id="contact" class="container-fluid jumbotron">
    <footer>
        <div class="container">
            <h3>Contact</h3>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <div data-toggle="collapse" data-parent="#accordion" href="#collapse1">General issues</div>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <phone></phone> +38(xxx)xxx-xx-xx
                                </div>
                                <div class="col-sm-4">
                                    <email></email> myEmail@com.ua
                                </div>
                                <div class="col-sm-4">
                                    <skype></skype> mySype
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <div data-toggle="collapse" data-parent="#accordion" href="#collapse2">Technical support</div>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <phone></phone> +38(xxx)xxx-xx-xx
                                </div>
                                <div class="col-sm-4">
                                    <email></email> myEmail@com.ua
                                </div>
                                <div class="col-sm-4">
                                    <skype></skype> mySype
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <div data-toggle="collapse" data-parent="#accordion" href="#collapse3">Partners</div>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <phone></phone> +38(xxx)xxx-xx-xx
                                </div>
                                <div class="col-sm-4">
                                    <email></email> myEmail@com.ua
                                </div>
                                <div class="col-sm-4">
                                    <skype></skype> mySype
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>